body {
  background-color: #36444a;
}

.App {
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
}

.App header {
  position: fixed;
  top: 0;
  height: 60px;
  background-color: #292d2f;
  width: 100%;
  max-width: 720px;
  color: #3d7d9d;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #3d7d9d;
}
